@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

body {
  background: linear-gradient(to bottom, transparent, rgb(5, 5, 5))
    rgb(15, 15, 15);
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text {
    @apply text-wrap leading-loose tracking-wide lg:leading-9;
  }
  .section-wrap {
    @apply mx-6 md:max-w-3xl xl:max-w-4xl;
  }
}

.modal {
  object-fit: scale-down;
}
